.DS_Store
node_modules/
data/*/*
main
*.pyc
!data/problem.html
!data/problem.md
!data/problem.pdf
!data/template.html
!data/answer/.gitkeep
!data/dot/.gitkeep
!data/html/.gitkeep
!data/image/.gitkeep
!data/input/.gitkeep
!data/problem/.gitkeep
!data/record/.gitkeep
images/
access_count.txt
